<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage = 'Donate')"></head>

<body>
<header th:replace="fragments/header.html"></header>
<main>
    <!-- First section with Food dropdown-lists -->
    <section class="donate-sec1">
        <div class="dropdown">
            <button class="dropbtn1">Vælg fødevarerkategori</button>
            <div class="dropdown-content">
                <a href="#">Kød</a>
                <a href="#">Frugt/Grønt</a>
                <a href="#">Mælkeprodukter</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn2">Vælg en slags mad</button>
            <div class="dropdown-content">
                <a href="#">Kylling</a>
                <a href="#">Okse</a>
                <a href="#">Lam</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn3">Er det en måltidsret?</button>
            <div class="dropdown-content">
                <a href="#">Ja</a>
                <a href="#">Nej</a>
            </div>
        </div>
    </section>
    <!-- 2 section with food specs, pickup-time and date-->
    <section class="donate-sec2">
        <div id="box-sec2">
            <div class="divs-sec2">
                <form action="food-specification" method="post">
                    <label for="food-specs">Beskriv maden, du vil donere<br></label>
                    <input type="text" name="food-spec-box" id="food-specs">
                </form>
            </div>
            <div class="divs-sec2">
                <label for="pickup-time">Vælg afhentningstidspunkt<br></label>
                <input type="time" id="pickup-time" name="pickup-box"
                       min="00:00" max="23:59" required>
            </div>
            <div class="divs-sec2">
                <label for="expiration">Holdbarhedsdato<br></label>
                <input type="date" id="expiration" name="expiration-box"
                       value="2021-03-16"
                       min="2018-01-01" max="2023-12-31">
            </div>
        </div>
    </section>
    <section class="donate-sec3">
        <div class="donate-btn">
        <button class="donate-now"><a href="confirm-page.html">Doner ---></a></button>
        </div>
    </section>
</main>
<footer th:replace="@{fragments/footer.html}"></footer>
</body>
</html>