<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<body>

<main>

    <h1 th:text="${User.firstName}">Test Testson</h1>

    <hr>
    <section class="donate">
        <a href="index.html">
            <img src="../static/donate.png" alt="heart">
            <p>Donate food</p>
        </a>
    </section>


    <section class="pick up">
        <a href="index.html">
            <img src="../static/pick-up.png" alt="shopping cart">
            <p>Pick up food</p>
        </a>
    </section>

</main>
</body>
</html>