<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage = '???')"></head>

<body>

<main>

    <h1 th:text="${User.firstName}">Test Testson</h1>

    <hr>

    <section class="donate">
        <a href="index.html">
            <img th:src="@{/images/donate.png}" alt="heart">
            <p>Donate food</p>
        </a>
    </section>


    <section class="pick up">
        <a href="index.html">
            <img th:src="@{/images/pick-up.png}" alt="shopping cart">
            <p>Pick up food</p>
        </a>
    </section>

</main>
</body>
</html>